body {
    font-family: Arial, sans-serif;
    background-color: rgb(238, 238, 13);
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

main {
    background: white;
    padding: 40px;
    width: 300px;
    border-radius: 8px;
}

form {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 5px;
}

button {
    cursor: pointer;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.done {
    text-decoration: line-through;
    color: green;
}
