body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

.page {
    background: #f2f4f7;
    min-height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.left {
    min-width: 500px;
}

.logo {
    color: #1877f2;
    font-size: 59px;
    margin-bottom: 10px;
}

.text {
    font-size: 24px;
    color: #1c1e21;
}

.right {
    text-align: center;
}

.login-box {    
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
}

.login-box input {
    width: 86%;
    padding: 14px;
    margin-bottom: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.login-btn {
    width: 90%;
    padding: 14px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.forgot {
    display: block;
    margin: 15px 0;
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
}

hr {
    border: none;
    height: 1px;
    background-color: #dadde1;
    margin: 20px 0;
}

.create-btn {
    background-color: #42b72a;
    color: white;
    border: none;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.create-page {
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-top: 0;
    margin-top: 28px;
    text-align: center;
    width: 86%;
}

.create-p {
    font-weight: 600;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
