
.card {
  border: 1px solid #eee;
  border-radius: 11px;
  padding: 15px;
  background: white;
  display: flex;
  flex-direction: column;
  height: 100%; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.main-img {
  width: 100%;
  height: 200px; 
  object-fit: contain; 
  margin-bottom: 10px;
}

h3 {
  font-size: 1.1rem;
  height: 3em; 
  overflow: hidden;
}

.description {
  font-size: 0.9rem;
  color: #666;
  flex-grow: 1; 
}

.price {
  font-weight: bold;
  font-size: 1.2rem;
  color: #e527d2;
  margin: 10px 0;
}

button, .buy-btn {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  text-align: center;
  margin-bottom: 5px;
}

.buy-btn { background-color: #008eff; color: white;}
.share-wa { background-color: #25D366; color: white; margin-top: 10px; margin-right: 5px}
.share-tg { background-color: #0088cc; color: white; }
